<h2>Contacts List</h2>

<br />
<!--- This guy is new_contact_path is defined in the routes -->
<%= link_to "New Contact", new_contact_path %>
<hr />

<table border="0">
  <th>First Name</th>
  <th>Second Name</th>
<% @contacts.each do |single_contact| %>
  <tr>
    <!-- We are linking here to single_contact.first_name so it will lead to the detail page (show action) 
         notice how we need to pass single_contact to the show_contact_path since it then presents :id to the 
         path from routes! (/contacts/:id) 
     -->
     <td><%= link_to single_contact.first_name, show_contact_path(single_contact)%></td>
     <td><%= single_contact.last_name %></td>
  </tr>
<% end %>
</table>
